@font-face {
  font-family: Cyberverse;
  src: url(./fonts/Cyberverse.otf);
}

:root {
    --watchColor: #F5F5DC;
}

* {
    box-sizing: border-box;
    margin: 0;
    font-family: Cyberverse, 'Courier New', Courier, monospace;
    font-size: 40px;
}

body {
    width: 100%;
    height: 100%;
    background-color: var(--watchColor);
}
        
.clock {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 328px;
    height: 132px;
    background-color: #333;
    color: var(--watchColor);
    padding-top: .8rem;
    text-align: center;
}